DB_NAME='wordpress'
DB_USER='wordpress'
DB_PASSWORD='wordpress'

# Optionally, you can use a data source name (DSN)
# When using a DSN, you can remove the DB_NAME, DB_USER, DB_PASSWORD, and DB_HOST variables
# DATABASE_URL='mysql://database_user:database_password@database_host:database_port/database_name'

# Optional database variables
DB_HOST='db'
# DB_PREFIX='wp_'

WP_ENV='local'
WP_HOME='http://localhost:8080'
WP_SITEURL="${WP_HOME}/wp"

# Specify optional debug.log path
# WP_DEBUG_LOG='/path/to/debug.log'

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='/+ms;p].[no*Qmk+HI+TPbQF4|iAZo(GMl8q.QPFb^rZ6tG>K:1qJ3BgmqFJ8{C.'
SECURE_AUTH_KEY='jJ0-TKv-yE0{%_I)8&DPCCz.yKAi(;@[Zc9mk%],7$0G$[N^%{WhqMs2-N}[FxN;'
LOGGED_IN_KEY='lB+j:QAS$KLzB4@Aj7z#Ol9J8N;tQ4vxX+@j<2xE{o8P`D]1Tmmn=m<=[+{KU;zG'
NONCE_KEY='kPVct6h|qW_ka380K|ZB/+=5*et^+*!b^UNDpFK/GB*q!+jv-cZ%S!4WEv?Xm3X/'
AUTH_SALT='UI3l,Hje@a}|LV6Vj%M52rG}g_>U[B2K]+NL18-0UE7J`DPE[uv==Fjt7E]d){zP'
SECURE_AUTH_SALT='DIa>SCCtc#vw/`QCM^{r5f?^&YL;{tAc@A3U9*sOVMZ3f$dhU{dyL-uVc$HqIzpQ'
LOGGED_IN_SALT='.DW<bs<j/L<j]*wr,[U#,{7I4?[%(hY]do%Z.VK9g1=gah3L)-7g)DEUqDF^rSBM'
NONCE_SALT='(OqYlHe!nwf)KaxZEzTPVAuQt0LrDZ*n9dg=},JnL6Sjz7XY5*C-wXRNR!4Tbh{6'
